form{
	width: 400px;
	max-width: 100%;
	border:2px solid #CCC;
	padding: 20px;
	display: inline-table;
	text-align: left;
}
.frm{
	text-align: center;
}
form label{
	font-weight: bolder;
}
form h4{
	width: 100%;
	padding: 8px;
	background: #CCC;
}
#sec_login {  
    height: 450px;  
	color: #fff;
	background-image: url("/../assets/images/anim_home.gif");  
    background-size: 100%;  
	/*background-size: cover; */
	text-align: center;
	margin-top:-70px; 
}
#frm_login{
	background: #fff;
}
.btn{
	height: 28px;
	padding: 1px;
	margin-left: 5px;
	margin-top: 10px;
}