<section id="usuario">
	<div class="container">
		<form class="form-inline">
			<div class="form-group mx-sm-3 mb-2">
				<input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome"
					placeholder="digite nome">
			</div>
			<button type="button" (click)="consultarUser()" class="btn btn-primary mb-2">Search</button>

			<button type="button" [routerLink]="['/usuarioAdd']" class="btn btn-success mb-2 ml-2">Adicionar
				Novo</button>
		</form>
		<table class="table table-striped">
			<thead class="thead-dark">
				<th scope="col">Id</th>
				<th scope="col">Nome</th>
				<th scope="col">CPF</th>
				<th scope="col">Apagar</th>
				<th scope="col">Editar</th>
			</thead>
			<tbody>
				<tr *ngFor="let usuario of usuarios | paginate: {itemsPerPage: 5,currentPage: page, totalItems: total}; let i=index">
					<td>{{usuario.id}}</td>
					<td>{{usuario.nome}}</td>
					<td>{{usuario.cpf}}</td>
					<td><button (click)="deleteUsuario(usuario.id,i)" class="btn btn-danger">Delete</button></td>
					<td><button [routerLink]="['/usuarioAdd',usuario.id]" class="btn btn-primary">Editar</button></td>
				</tr>

			</tbody>

		</table>
		<div class="d-flex justify-content-center">
			<pagination-controls
			  previousLabel="Anterior"
			  nextLabel="Seguinte"
			  (pageChange)="onTableDataChange($event);"
			>
			</pagination-controls>
		  </div>
	</div>
</section>