<div id="page-content-wrapper">
  <!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5" [hidden]="esconderBarra()">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['userList']" href="#">Usuarios</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="sair()">Sair</a>
        </li>
      </ul>
    </div>
  </nav>-->
  <div class="menus" [hidden]="esconderBarra()">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    <a class="dropdown-item" [routerLink]="['userList']" href="#">Users</a>
    <a class="nav-link" (click)="sair()">Sair</a>
  </div>
</div>
<section>
  <router-outlet></router-outlet>
</section>